div.todo-wrapper {
  border-bottom: solid 3px black;
  min-width: 200px;
  min-height: 200px;
  position: relative;
  margin-bottom: 64px;
}

.todo-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

input,
textarea {
  display: block;
  width: 100%;
  border: none;
}

.title {
  font-weight: bold;
}

.description {
  min-height: 100px;
}

form>input {
  width: 100%;
}

.dateline {
  display: flex;
  flex-flow: row wrap;
  font-size: smaller;
  font-style: italic;
  justify-content: space-around;
}

.dateline>p {
  flex: 0 2 50%;
  margin: 0;
  white-space: nowrap;
  text-align: center;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: flex-end;
  padding: 4px;
}

.button-group>button {
  display: flex;
  margin: 0;
}

.completion-toggle {
  text-align: center;
  width: 40px;
  height: 40px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  opacity: 0;
}

.todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}
