<section>
  <span *ngIf="todos.length === 0">
    no todos to display
  </span>

  <app-summary [todoCount]="todoCount" [statusFilter]="statusFilter"></app-summary>

  <div class="mass-edit">
    <button class="btn btn-xs btn-warning" *ngIf="todos.length > 1" (click)="toggle()">
      Select All
    </button>

    <ng-container *ngIf="selectedTodos.length > 0">
      <button class="btn btn-xs btn-danger" (click)="deleteAll(selectedTodos)">
        Delete All
      </button>
      <button class="btn btn-xs btn-success" (click)="saveAll(selectedTodos)">
        Save All
      </button>
      <span>{{ selectedTodos.length }} {{ selectedTodos.length > 1 ? "todos" : "todo" }} selected</span>
    </ng-container>
  </div>

  <ul class="todo-list" *ngIf="todos.length > 0">
    <ng-container *ngIf="todos.length > 0">
      <li *ngFor="let todo of todos">
        <app-todo [todo]="todo"></app-todo>
      </li>
    </ng-container>
  </ul>
</section>
