.todo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.todo-list > li {
  flex: 1 3 33%;
  padding: 0 8px 0 0;
}

.mass-edit {
  margin: 12px 0;
}

.mass-edit > span {
  margin-left: 4px;
}

.mass-edit > button {
  margin-right: 8px;
}
