<div>
    <p>navigation component</p>
    <ul>
        <li>
            <input type="radio" id="f-option" name="selector" />
            <span routerLink="/todo" routerLinkActive="active">Todo</span>
        </li>
        <li>
            <input type="radio" id="f-option" name="selector" />
            <span routerLink="/completed" routerLinkActive="active">Completed</span>
        </li>
        <li>
            <input type="radio" id="f-option" name="selector" />
            <span routerLink="/archived" routerLinkActive="active">Archived</span>
        </li>
        <li>
            <input type="radio" id="f-option" name="selector" />
            <span routerLink="/all" routerLinkActive="active">All</span>
        </li>
    </ul>
</div>
