ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin: 0px 8px 0 0;
}

span {
    margin: 0px 16px 0px 4px;
}

.button-text {
    font-weight: bold;
}
