<nav>
  <ul>
    <li>
      <button
        class="btn btn-primary btn-sm"
        routerLink="/todo"
        routerLinkActive="active"
      >
        Todo
      </button>
    </li>
    <li>
      <button
        class="btn btn-primary btn-sm"
        routerLink="/completed"
        routerLinkActive="active"
      >
        Completed
      </button>
    </li>
    <li>
      <button
        class="btn btn-primary btn-sm"
        routerLink="/archived"
        routerLinkActive="active"
      >
        Archived
      </button>
    </li>
    <li>
      <button
        class="btn btn-primary btn-sm"
        routerLink="/all"
        routerLinkActive="active"
      >
        All
      </button>
    </li>
  </ul>
</nav>
